a { 
	text-decoration: none; 
}
.Header { 
	text-align: left; 
	margin-top: 0pt; 
	margin-bottom: 0pt; 
	line-height: normal; 
	font-family: 'Times New Roman'; 
	font-size: 10pt; 
	font-weight: normal; 
	font-style: normal; 
}
#img001 { 
	-aw-wrap-type: none; 
	-aw-left-pos: -0.5pt; 
	-aw-top-pos: 0.4pt; 
	-aw-rel-hpos: column; 
	-aw-rel-vpos: paragraph; 
	margin-top: 0.4pt; 
	margin-left: -0.5pt; 
	position: absolute; 
}
#text001 { 
	position: absolute; 
	display: block; 
}
#text002 { 
	-aw-import: ignore; 
}
#para001 { 
	text-align: center; 
	font-family: 'Century Gothic'; 
	font-size: 12pt; 
	font-weight: bold; 
}
#para002 { 
	text-align: right; 
	font-family: 'Century Gothic'; 
	font-size: 12pt; 
	font-weight: bold; 
}
.Normal { 
	text-align: left; 
	margin-top: 0pt; 
	margin-bottom: 0pt; 
	line-height: normal; 
	font-family: 'Times New Roman'; 
	font-size: 10pt; 
	font-weight: normal; 
	font-style: normal; 
}
#text003 { 
	font-size: 12pt; 
	font-weight: bold; 
	color: rgb(255, 0, 0); 
}
#table001 { 
	border-collapse: collapse; 
	width: 553.5pt; 
}
#cell001 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 344.7pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: middle; 
}
#para003 { 
	font-family: 'Century Gothic'; 
}
#text004 { 
	font-weight: bold; 
}
#cell002 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 187.2pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: middle; 
}
#para004 { 
	font-family: 'Century Gothic'; 
}
#text005 { 
	font-weight: bold; 
}
#cell003 { 
	background-color: rgb(0, 176, 240); 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 74.7pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: middle; 
}
#para005 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#cell004 { 
	background-color: rgb(0, 176, 240); 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 457.2pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: middle; 
}
#para006 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#cell005 { 
	background-color: rgb(0, 176, 240); 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 74.7pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: middle; 
}
#para007 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#cell006 { 
	background-color: rgb(0, 176, 240); 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 457.2pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: middle; 
}
#para008 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#cell007 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 137.7pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: middle; 
}
#para009 { 
	margin-right: -9.9pt; 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#cell008 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 394.2pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: middle; 
}
#para010 { 
	font-family: 'Century Gothic'; 
}
#text006 { }
#text007 { }
#text008 { }
#cell009 { 
	background-color: rgb(255, 255, 0); 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 542.7pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: top; 
}
#para011 { 
	text-align: center; 
	font-family: 'Century Gothic'; 
	font-size: 12pt; 
	font-weight: bold; 
	background-color: rgb(255, 255, 0); 
}
#text009 { 
	background-color: rgb(255, 255, 0); 
}
#cell010 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 20.7pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: top; 
}
#para012 { 
	text-align: center; 
	font-family: 'Century Gothic'; 
}
#text010 { 
	font-family: 'Segoe UI Symbol'; 
	font-size: 12pt; 
}
#cell011 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 511.2pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: top; 
}
#para013 { 
	font-family: 'Century Gothic'; 
}
#text011 { 
	font-weight: bold; 
	background-color: rgb(255, 255, 0); 
}
#para014 { 
	font-family: 'Century Gothic'; 
}
#para015 { 
	font-family: 'Century Gothic'; 
}
#para016 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#para017 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#text012 { 
	font-weight: normal; 
}
#para018 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#para019 { 
	font-family: 'Century Gothic'; 
}
#text013 { 
	font-weight: bold; 
}
#para020 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
	text-decoration: underline; 
}
#text014 { 
	text-decoration: underline; 
}
#para021 { 
	font-family: 'Century Gothic'; 
}
#text015 { 
	font-size: 6.67pt; 
	vertical-align: super; 
}
#para022 { 
	font-family: 'Century Gothic'; 
}
#para023 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#text016 { 
	font-weight: normal; 
}
#cell012 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 20.7pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: top; 
}
#para024 { 
	text-align: center; 
	font-family: 'Century Gothic'; 
}
#text017 { 
	font-family: 'Segoe UI Symbol'; 
	font-size: 12pt; 
}
#cell013 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 511.2pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: top; 
}
#para025 { 
	font-family: 'Century Gothic'; 
}
#text018 { 
	font-weight: bold; 
	background-color: rgb(255, 255, 0); 
}
#para026 { 
	font-family: 'Century Gothic'; 
}
#para027 { 
	font-family: 'Century Gothic'; 
}
#para028 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#para029 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#text019 { 
	font-weight: normal; 
}
#para030 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#para031 { 
	font-family: 'Century Gothic'; 
}
#text020 { 
	font-weight: bold; 
}
#para032 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
	text-decoration: underline; 
}
#text021 { 
	text-decoration: underline; 
}
#para033 { 
	font-family: 'Century Gothic'; 
}
#text022 { 
	font-size: 6.67pt; 
	vertical-align: super; 
}
#para034 { 
	font-family: 'Century Gothic'; 
}
#para035 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#text023 { 
	font-weight: normal; 
}
#cell014 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 20.7pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: top; 
}
#para036 { 
	text-align: center; 
	font-family: 'Century Gothic'; 
}
#text024 { 
	font-family: 'Segoe UI Symbol'; 
	font-size: 12pt; 
}
#cell015 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 511.2pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: top; 
}
#para037 { 
	font-family: 'Century Gothic'; 
}
#text025 { 
	font-weight: bold; 
	background-color: rgb(255, 255, 0); 
}
#para038 { 
	font-family: 'Century Gothic'; 
}
#para039 { 
	font-family: 'Century Gothic'; 
}
#para040 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#para041 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#text026 { 
	font-weight: normal; 
}
#para042 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#para043 { 
	font-family: 'Century Gothic'; 
}
#text027 { 
	font-weight: bold; 
}
#para044 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
	text-decoration: underline; 
}
#text028 { 
	text-decoration: underline; 
}
#para045 { 
	font-family: 'Century Gothic'; 
}
#text029 { 
	font-size: 6.67pt; 
	vertical-align: super; 
}
#para046 { 
	font-family: 'Century Gothic'; 
}
#para047 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#text030 { 
	font-weight: normal; 
}
#cell016 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 20.7pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: top; 
}
#para048 { 
	text-align: center; 
	font-family: 'Century Gothic'; 
}
#text031 { 
	font-family: 'Segoe UI Symbol'; 
	font-size: 12pt; 
}
#cell017 { 
	border: 0.5pt solid rgb(0, 0, 0); 
	width: 511.2pt; 
	padding-left: 5.4pt; 
	padding-right: 5.4pt; 
	vertical-align: top; 
}
#para049 { 
	font-family: 'Century Gothic'; 
}
#text032 { 
	font-weight: bold; 
	background-color: rgb(255, 255, 0); 
}
#para050 { 
	font-family: 'Century Gothic'; 
}
#para051 { 
	font-family: 'Century Gothic'; 
}
#para052 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#para053 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#text033 { 
	font-weight: normal; 
}
#para054 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
}
#para055 { 
	font-family: 'Century Gothic'; 
}
#text034 { 
	font-weight: bold; 
}
#para056 { 
	font-family: 'Century Gothic'; 
	font-weight: bold; 
	text-decoration: underline; 
}
#text035 { 
	text-decoration: underline; 
}
#para057 { 
	font-family: 'Century Gothic'; 
}
#text036 { 
	font-size: 6.67pt; 
	vertical-align: super; 
}
#row001 { 
	height: 17.95pt; 
}
#row002 { 
	height: 17.95pt; 
}
#row003 { 
	height: 17.95pt; 
}
#row004 { 
	height: 17.95pt; 
}
#row005 { 
	height: 10.15pt; 
}
#row006 { 
	height: 75.4pt; 
}
#row007 { 
	height: 75.4pt; 
}
#row008 { 
	height: 75.4pt; 
}
#row009 { 
	height: 75.4pt; 
}
#para058 { 
	font-family: 'Century Gothic'; 
	font-size: 9pt; 
}
#para059 { 
	font-family: 'Century Gothic'; 
	font-size: 9pt; 
}
#para060 { 
	text-align: right; 
	font-family: 'Century Gothic'; 
	font-size: 9pt; 
}
.Footer { 
	text-align: left; 
	margin-top: 0pt; 
	margin-bottom: 0pt; 
	line-height: normal; 
	font-family: 'Times New Roman'; 
	font-size: 10pt; 
	font-weight: normal; 
	font-style: normal; 
}